* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {

    --cor-de-fundo: #000000;
    --cor-de-fundo-secundaria: rgb(15, 15, 15);
    --cor-de-fundo-terciaria: #2d2c2c;
    --cor-de-fundo-quaternaria: #f5f5e6;

    --cor-texto-primaria: #ffffff;
    --cor-texto-secundaria: #FFC000;
    --cor-texto-terciaria: #c5c5c5;
    --cor-texto-quaternaria: #2d2c2c;

    --fonte-padrao: "Play fair", serif;
    --fonte-secundaria: "Lora", serif;

    --tamanho-titulo: 2.5rem;
    --tamanho-subtitulo: 1.5rem;
    --tamanho-texto: 1.2rem;
    --tamanho-botao: 1.5rem;
    --tamanho-navbar: 1.5rem;


    --tamanho-navbar-mobile: .9rem;
    --tamanho-titulo-mobile: 1.2rem;
    --tamanho-subtitulo-mobile: 1rem;
    --tamanho-texto-mobile: .9rem;
    --tamanho-botao-mobile: 1.5rem;


}

@media screen and (max-width: 767px) {
    
    body {
        width: 100dvw;
        background-color: var(--cor-de-fundo);
        color: var(--cor-texto-primaria);
    }
    
    .destaque {
        color: var(--cor-texto-secundaria);
    }

    .cabecalho {
        padding: 5% 0;
    }

    .barra-navegacao-list {
        display: flex;
        justify-content: center;
        gap: 5%;
        list-style-type: none;
    }

    .barra-navegacao-list-item {
        text-decoration: none;
        font-size: var(--tamanho-navbar-mobile);
        font-family: var(--fonte-padrao);
    }

    .barra-navegacao-list-item-link {
        color: var(--cor-texto-primaria);
    }

    .barra-navegacao-list-item-link:hover {
        color: var(--cor-texto-secundaria);
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .home {
        padding: 5% 0;
    }

    .home-titulo {
        color: var(--cor-texto-primaria);
        font-size: var(--tamanho-titulo-mobile);
        font-family: var(--fonte-padrao);
        text-align: center;
        margin: 0 2%;
    }

    .linha {
        border: 0;
        height: 1px;
        width: 40%;
        background-color: #ffffff;
        padding: 0;
        margin: 0;
    }

    .sobre {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 15% 0 8% 0;
        margin: 0;
        gap: 25px;
    }

    .sobre-imagem {
        max-width: 15%;
        margin: 0;
        padding: 0;
    }

    .sobre-texto {
        width: 90%;
        text-align: justify;
        padding: 0 3%;
        margin: 0;
    }

    .sobre-texto-titulo {
        display: none;
    }

    .sobre-linha {
        display: none;
        border: 0;
        height: 1px;
        width: 30%;
        background-color: var(--cor-texto-secundaria);
        padding: 0;
        margin: 0 0 2% 0;
    }

    .sobre-texto-paragrafo {
        font-size: var(--tamanho-texto-mobile);
        font-family: var(--fonte-secundaria);
        color: var(--cor-texto-primaria);
        font-weight: 100;
        padding: 2% 0;
    }

    .servicos {}

    .servicos-titulo {
        font-size: var(--tamanho-titulo-mobile);
        font-family: var(--fonte-padrao);
        text-align: center;
        padding: 5% 3%;
    }
    
    .topicos-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2% 0;
        gap: 20px;
    }
    
    .servicos-topico {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        border-style: solid;
        border-radius: 15px;
        border-width: 2px;
        border-color: #434343;
        background-color: var(--cor-de-fundo-terciaria);
    }

    .servicos-topico-icone {
        width: 15%;
        margin: 5% 0;
    }

    .servicos-topico-textos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        margin: 0 2% 5% 2%;
        padding: 5% 0;
        background-color: #434343;
    }

    .servicos-topico-textos-subtitulo {
        font-family: var(--fonte-secundaria);
        font-size: 1.2rem;
        color: var(--cor-texto-secundaria);
        text-align: center;
    }

    .linha-sobre {
        border: 0;
        height: 1px;
        width: 60%;
        background-color: #ffffff;
        padding: 0;
        margin: 5% 0;
    }


    .servicos-topico-textos-explicacao {
        font-size: 1rem;
        font-family: var(--fonte-padrao);
        color: var(--cor-texto-primaria);
        text-align: center;
        padding: 0 3%;
    }

    #contato {
        padding: 10% 0;
        border-radius: 20px;
        margin: 10% 0 5% 0;
        width: 90%;
        background-color: var(--cor-de-fundo-quaternaria);
    }

    .contato-contatos-titulo {
        color: #2d2c2c;
        font-family: var(--fonte-secundaria);
        font-size: var(--tamanho-titulo-mobile);
        max-width: 80%;
        text-align: center;
        align-items: center;
        margin: 0 auto 15px auto;
    }

    .contato-formulario {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 90%;
        margin: 0 auto;
    }

    .contato-formulario-input {
        padding: 2%;
        font-size: var(--tamanho-texto-mobile);
        border: 1px solid #757575;
        border-radius: 5px;
        font-family: var(--fonte-secundaria);
        background-color: white;
        color: var(--cor-texto-quaternaria);
        transition: border-color 0.3s;
    }

    .contato-formulario-input:focus {
        border-color: var(--cor-texto-secundaria);
    }

    .contato-formulario-input-botao {
        padding: 15px;
        font-size: var(--tamanho-titulo-mobile);
        background-color: var(--cor-de-fundo-terciaria);
        color: var(--cor-texto-primaria);
        border: none;
        border-radius: 5px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
        background-color: var(--cor-de-fundo-secundaria);
        padding: 10% 0 2% 0;
        margin: 0;
    }

    .footer-texto-imagem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        width: 90%;
    }

    .footer-imagem {
        width: 40%;
    }

    .footer-texto {
        text-align: center;
        font-family: var(--fonte-padrao);
        font-weight: 100;
        font-size: var(--tamanho-titulo-mobile);
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        width: 50%;
        margin: 3% 0 10% 0;
    }

    .footer-links-anchor-image {
        height: 1.5rem;
    }

    .footer-direitos {
        font-family: var(--tamanho-texto);
        font-size: .6rem;
        padding: 2% 0 0 0;
        color: var(--cor-texto-terciaria);
    }

}

@media screen and (min-width: 768px) {
    
    body {
        overflow-x: hidden;
        width: 100dvw;
        background-color: var(--cor-de-fundo);
        color: var(--cor-texto-primaria);
    }
    
    .destaque {
        color: var(--cor-texto-secundaria);
    }

    .cabecalho {
        padding: 2% 0;
    }

    .barra-navegacao-list {
        display: flex;
        justify-content: center;
        gap: 5%;
        list-style-type: none;
    }

    .barra-navegacao-list-item {
        text-decoration: none;
        font-size: var(--tamanho-navbar);
        font-family: var(--fonte-padrao);
    }

    .barra-navegacao-list-item-link {
        color: var(--cor-texto-primaria);
    }

    .barra-navegacao-list-item-link:hover {
        color: var(--cor-texto-secundaria);
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        padding: 0;
    }

    .home {
        padding: 5% 0;
    }

    .home-titulo {
        color: var(--cor-texto-primaria);
        font-size: var(--tamanho-titulo);
        font-family: var(--fonte-padrao);
        text-align: center;
    }

    .linha {
        border: 0;
        height: 1px;
        width: 40%;
        background-color: #ffffff;
        padding: 0;
        margin: 0;
    }

    .sobre {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 8% 0 5% 0;
        margin: 0;
        gap: 0;
    }

    .sobre-imagem {
        width: 15%;
        margin: 0;
        padding: 0;
    }

    .sobre-texto {
        width: 70%;
        text-align: justify;
        color: var(--cor-texto-primaria);
        background-color: var(--cor-de-fundo);
        border-radius: 15px;
        padding: 4% 3%;
        margin: 0;
    }

    .sobre-texto-titulo {
        padding: 1%;
        font-size: var(--tamanho-subtitulo);
        font-family: var(--fonte-padrao);
    }

    .sobre-linha {
        border: 0;
        height: 1px;
        width: 30%;
        background-color: var(--cor-texto-secundaria);
        padding: 0;
        margin: 0 0 2% 0;
    }

    .sobre-texto-paragrafo {
        font-size: var(--tamanho-texto);
        font-family: var(--fonte-secundaria);
        font-weight: 100;
        padding: 1% 0;
    }

    .servicos {
        padding: 0 0 10% 0;
    }

    .servicos-titulo {
        font-size: var(--tamanho-titulo);
        font-family: var(--fonte-padrao);
        text-align: center;
        margin: 2% 5% 5% 5%;
    }
    
    .topicos-container {
        display: grid;
        grid-row-end: auto;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        gap: 4%;
    }
    
    .servicos-topico {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5% 3%;
        border-style: solid;
        border-width: 2px;
        border-radius: 15px;
        gap: 20px;
        border-color: #434343;
        background-color: var(--cor-de-fundo-terciaria);
    }

    .servicos-topico-icone {
        max-height: 25%;
    }

    .servicos-topico-textos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        min-height: 70%;
        background-color: #434343;
    }

    .servicos-topico-textos-subtitulo {
        font-family: var(--fonte-secundaria);
        font-size: 1.2rem;
        color: var(--cor-texto-secundaria);
        text-align: center;
    }

    .linha-sobre {
        border: 0;
        height: 1px;
        width: 60%;
        background-color: var(--cor-texto-secundaria);
        padding: 0;
        margin: 5% 0;
    }


    .servicos-topico-textos-explicacao {
        font-size: var(--tamanho-texto);
        font-family: var(--fonte-padrao);
        color: var(--cor-texto-primaria);
        text-align: center;
        padding: 0 3%;
    }

    #contato {
        padding: 50px;
        border-radius: 20px;
        margin: 10% 0 5% 0;
        background-color: var(--cor-de-fundo-quaternaria);
    }

    .contato-contatos {
        text-align: center;
        margin-bottom: 30px;
    }

    .contato-contatos-titulo {
        color: #2d2c2c;
        font-family: var(--fonte-secundaria);
        font-size: 1.8rem;
        margin-bottom: 10px;
        max-width: 80%;
        text-align: center;
        margin: auto;
    }

    .contato-formulario {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 50%;
        margin: 0 auto;
    }

    .contato-formulario-input {
        padding: 3%;
        font-size: 1rem;
        border: 1px solid #757575;
        border-radius: 5px;
        font-family: "Lora", serif;
        background-color: white;
        color: var(--cor-texto-quaternaria);
        transition: border-color 0.3s;
    }

    .contato-formulario-input:focus {
        border-color: var(--cor-texto-secundaria);
    }

    .contato-formulario-input-botao {
        padding: 15px;
        font-size: 1em;
        background-color: var(--cor-de-fundo-terciaria);
        color: var(--cor-texto-primaria);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .contato-formulario-input-botao:hover {
        background-color: var(--cor-texto-secundaria);
        color: var(--cor-texto-quaternaria);
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
        background-color: var(--cor-de-fundo-secundaria);
        padding: 5% 0 2% 0;
        margin: 0;
    }

    .footer-texto-imagem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        width: 40%;

    }

    .footer-imagem {
        width: 40%;
    }

    .footer-texto {
        text-align: center;
        font-family: var(--fonte-padrao);
        font-weight: 100;
        font-size: 1.4rem;
    }

    .footer-links {
        color: var(--cor-texto-primaria);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        width: 12%;
        margin: 1.5% 0 5% 0;
    }

    .footer-links-anchor:hover {
        cursor: pointer;
    }

    .footer-links-anchor-image {
        height: 1.5rem;
    }

    .footer-direitos {
        font-family: var(--tamanho-texto);
        font-size: .9rem;
        padding: 2% 0 0 0;
        color: var(--cor-texto-terciaria);
    }

}
