* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {

    /* ------------------- CORES -------------------------*/
    
    /*BACKGROUND*/
    --cor-de-fundo: #000000;
    --cor-de-fundo-secundaria: rgb(15, 15, 15);
    --cor-de-fundo-terciaria: #2d2c2c;
    --cor-de-fundo-quaternaria: #f3ffdd;

    --cor-texto-primaria: #ffffff;
    --cor-texto-secundaria: #FFC000;
    --cor-texto-terciaria: #c5c5c5;
    --cor-texto-quaternaria: #2d2c2c;

    /* ----------------- FONTES --------------------------*/
    --fonte-padrao: "Play fair", serif;
    --fonte-secundaria: "Lora", serif;

    /* TAMANHO DE FONTE PADRÃO */
    --tamanho-titulo: 2.5rem;
    --tamanho-subtitulo: 1.5rem;
    --tamanho-texto: 1.2rem;
    --tamanho-botao: 1.5rem;
    --tamanho-navbar: 1.5rem;



    /* TAMANHO DE FONTE PADRÃO MOBILE */
    --tamanho-navbar-mobile: .9rem;
    --tamanho-titulo-mobile: 1.2rem;
    --tamanho-subtitulo-mobile: 1rem;
    --tamanho-texto-mobile: .9rem;
    --tamanho-botao-mobile: 1.5rem;


}


@media screen and (max-width: 767px) {
    body {
        display: none;
    }
}





/* 

--------------------------------------------------------------------------------------
|                            T E L A S   M A I O R E S                                 |
---------------------------------------------------------------------------------------

*/


@media screen and (min-width: 768px) {
    
    body {
        overflow-x: hidden;
        width: 100dvw;
        background-color: var(--cor-de-fundo);
        color: var(--cor-texto-primaria);
    }
    
    .destaque {
        color: var(--cor-texto-secundaria);
    }


    /* ------------- CABEÇALHO E NAVBAR ----------------*/

    .cabecalho {
        /* background-color: yellowgreen; */
        padding: 2% 0;
    }

    .barra-navegacao-list {
        display: flex;
        justify-content: center;
        gap: 5%;
        list-style-type: none;
    }

    .barra-navegacao-list-item {
        text-decoration: none;
        font-size: var(--tamanho-navbar);
        font-family: var(--fonte-padrao);
    }

    .barra-navegacao-list-item-link {
        color: var(--cor-texto-primaria);
    }

    .barra-navegacao-list-item-link:hover {
        color: var(--cor-texto-secundaria);
    }




    /*-------------- CONTEÚDO PRINCIPAL ---------------------*/

    .conteudo-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        padding: 0;
        /* background-color: lime; */
    }





    /*-------------- HOME ---------------------*/

    .home {
        padding: 5% 0;
        /* background-color: brown; */
    }

    .home-titulo {
        /* background-color: lime; */
        color: var(--cor-texto-primaria);
        font-size: var(--tamanho-titulo);
        font-family: var(--fonte-padrao);
        text-align: center;
    }

    .linha {
        border: 0;
        height: 1px;
        width: 40%;
        background-color: #ffffff;
        padding: 0;
        margin: 0;
    }





    /*-------------- SOBRE ---------------------*/

    .sobre {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 8% 0 5% 0;
        margin: 0;
        gap: 0;
        /* background-color: lime; */
        /* border-radius: 20px; */
    }

    .sobre-imagem {
        /* background-color: crimson; */
        max-width: 20%;
        margin: 0;
        padding: 0;
    }

    .sobre-texto {
        max-width: 60%;
        text-align: justify;
        color: var(--cor-texto-primaria);
        background-color: var(--cor-de-fundo);
        border-radius: 15px;
        padding: 4% 3%;
        margin: 0;
        /* background-color: crimson; */
    }

    .sobre-texto-titulo {
        padding: 1%;
        /* background-color: crimson; */
        font-size: var(--tamanho-subtitulo);
        font-family: var(--fonte-padrao);
    }

    .sobre-linha {
        border: 0;
        height: 1px;
        width: 30%;
        background-color: var(--cor-texto-secundaria);
        padding: 0;
        margin: 0 0 2% 0;
    }

    .sobre-texto-paragrafo {
        /* background-color: lime; */
        font-size: var(--tamanho-texto);
        font-family: var(--fonte-secundaria);
        font-weight: 100;
        padding: 1% 0;
    }





    /*-------------- SERVIÇOS ---------------------*/

    .servicos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: 5% 0 5% 0;
        /* background-color: crimson; */
        margin: 0;
    }

    .servicos-titulo {
        font-size: var(--tamanho-titulo);
        font-family: var(--fonte-padrao);
        color: var(--cor-texto-primaria);
        margin: 0 0 2% 0;
        padding: 0 5% 0 5%;
        text-align: center;
    }

    .topicos-container {
        display: flex;
        flex-direction: column;
        background-color: var(--cor-de-fundo-secundaria);
        justify-content: center;
        justify-items: center;
        align-items: center;
        border-radius: 15px;
        width: 70%;
    }

    .servicos-topico {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3%;
        background-color: var(--cor-de-fundo-secundaria);
        width: 95%;
    }

    .servicos-topico-icone {
        height: 64px;
        width: auto;
    }

    .servicos-topico-textos {
        width: 80%;
        margin: 3% 0 3% 0;
    }

    .servicos-topico-textos-subtitulo {
        color: var(--cor-texto-secundaria);
        font-size: var(--tamanho-subtitulo);
    }

    .servicos-topico-textos-lista {
        list-style: none;
    }

    .servicos-topico-textos-lista-item {
        color: var(--cor-texto-primaria);
        font-size: var(--tamanho-texto);
        font-family: var(--fonte-secundaria);
        font-weight: 100;
        padding-left: 15px;
        text-align: left;
    }





    /*-------------- CONTATO ---------------------*/

    #contato {
        padding: 50px;
        border-radius: 20px;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        margin: 5% 0;
        background-color: var(--cor-de-fundo-quaternaria);
    }

    .contato-contatos {
        text-align: center;
        margin-bottom: 30px;
    }

    .contato-contatos-titulo {
        color: #2d2c2c;
        font-family: var(--fonte-secundaria);
        font-size: 1.8rem;
        margin-bottom: 10px;
        max-width: 80%;
        text-align: center;
        margin: auto;
    }

    /* .contato-contatos-texto {
        font-size: 1.2em;
        color: #ccc;
    } */

    .contato-formulario {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 50%;
        margin: 0 auto;
    }

    .contato-formulario-input {
        padding: 3%;
        font-size: 1rem;
        border: 1px solid #757575;
        border-radius: 5px;
        font-family: "Lora", serif;
        background-color: white;
        color: var(--cor-texto-quaternaria);
        transition: border-color 0.3s;
    }

    .contato-formulario-input:focus {
        border-color: var(--cor-texto-secundaria);
    }

    .contato-formulario-input-botao {
        padding: 15px;
        font-size: 1em;
        background-color: var(--cor-de-fundo-terciaria);
        color: var(--cor-texto-primaria);
        border: none;
        /* border-color: var(--cor-de-fundo); */
        border-radius: 5px;
        cursor: pointer;
    }

    .contato-formulario-input-botao:hover {
        background-color: var(--cor-texto-secundaria);
        color: var(--cor-texto-quaternaria);
    }





    /* ---------- FOOTER ------------------------ */

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
        background-color: var(--cor-de-fundo-secundaria);
        /* background-color: crimson; */
        padding: 5% 0 2% 0;
        margin: 0;
    }

    .footer-texto-imagem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        width: 40%;

    }

    .footer-imagem {
        width: 40%;
    }

    .footer-texto {
        text-align: center;
        font-family: var(--fonte-padrao);
        font-weight: 100;
        font-size: 1.2rem;
        /* background-color: crimson; */
    }

    .footer-links {
        color: var(--cor-texto-primaria);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        width: 12%;
        margin: 1.5% 0 5% 0;
        /* gap: 30%; */
        /* background-color: lime; */
    }

    /* .footer-links-item {
        margin: 0 %;
    } */

    .footer-links-anchor:hover {
        cursor: pointer;
    }

    .footer-links-anchor-image {
        height: 1.5rem;
    }

    .footer-direitos {
        font-family: var(--tamanho-texto);
        font-size: .9rem;
        padding: 2% 0 0 0;
        color: var(--cor-texto-terciaria);
    }


}