/* color palette from <https://github.com/vuejs/theme> */
:root {
  --blue-0: #00020e;
  --blue-1: #010b19;
  --blue-2: #001a33;
  --blue-3: #003366;
  --blue-4: #004080;
  --blue-5: #0059b3;
  --blue-6: #0066cc;

  --white: #FFF9E0;

  --grey: #2e2e2e;

}

/* semantic color variables for this project */
:root {
  --color-background-light: var(--yellow);
  --color-background-dark: var(--blue-1);
  --color-background-navbar: var(--blue-0);
  
  --color-text-light: var(--white);
  --color-text-dark: var(--grey);

  /*color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;*/
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}*/

body {
  min-height: 100vh;
  width: 100dvw;
  color: var(--color-text-dark);
  background: var(--color-background-light);
}